<div class="wrapper">
  <mat-card>
    <div class="title">
      <h2>
        Welcome,
        @if (isNameChange) {
          <mat-form-field class="rm-sub-wrap" appearance="outline">
            <input id="nameInp" matInput [formControl]="name" (keydown.enter)="onNameChangeSubmit()">
          </mat-form-field>
        } @else {
          <span>{{ user()?.name || 'Guest' }}</span>
        }
        !
      </h2>
      <div class="btns">
        <button
          mat-button
          (click)="isNameChange ? onNameChangeSubmit() : onNameChange()"
        >
          {{ isNameChange ? 'Submit' : 'Rename' }}
        </button>
        <button [disabled]="isNameChange" mat-button (click)="onLogout()">Logout</button>
      </div>
    </div>
    @if (selectedUser()) {
      <div class="title chat-with bg-white">
        <h4>
          {{selectedUser()?.email}}
        </h4>
      </div>
      <div class="content-block">
        @for (message of messages()?.reverse(); track message.id) {
          <div class="block {{message.sender.id === user()?.id ? 'p-r' : 'p-l'}}">
            <span>{{message.text}}</span>
            <span class="sm">{{moment(message.createdAt).format('HH:mm:ss')}}</span>
          </div>
        }
      </div>
      <mat-form-field class="rm-sub-wrap" appearance="outline">
        <input id="msgInp" type="text" matInput [formControl]="message" (keydown.enter)="send(message.value)">
        <button
          mat-icon-button
          matSuffix
          type="submit"
          [disabled]="!message.value"
          (click)="$event.stopPropagation(); send(message.value)"
        ><mat-icon>send</mat-icon></button>
      </mat-form-field>
    } @else {
      <div class="placeholder">
        <h3>Select someone! <mat-icon>arrow_forward</mat-icon></h3>
      </div>
    }
  </mat-card>
</div>
